@font-face {
  font-family: "Louis";
  src: url("typo/Louis George Cafe.ttf");
  src: url("typo/Louis George Cafe Bold Italic.ttf");
  src: url("typo/Louis George Cafe Bold.ttf");
  src: url("typo/Louis George Cafe Italic.ttf");
  src: url("typo/Louis George Cafe Light Italic.ttf");
  src: url("typo/Louis George Cafe Light.ttf");
}
* {
  box-sizing: border-box;
}
body,
html {
  background-color: #7a8670;
  font-family: "Louis";
  color: white;
}
footer {
  font-size: 10px;
}
.header-questions {
  width: 40%;
}
/*Boutton acceuil*/
#go {
  font-size: xx-large;
  border-radius: 35px;
  background-color: #dda52a;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  margin: auto;
  height: 80px;
  width: 300px;
  display: block;
  align-items: center;
  box-shadow: 6px;
}
/*div qui contient la question*/
#questions-container {
  margin: auto;
  padding: auto;
}
.question {
  margin: auto;
  padding: auto;
  font-size: xx-large;
  text-align: center;
}
/*Bouttons next et validez*/
#nextQuestion,
.next {
  font-size: xx-large;
  border-radius: 25px;
  background-color: #dda52a;
  color: black;
  text-decoration: none;
  margin: auto;
  height: 50px;
  width: 150px;
  display: block;
  align-items: left; /*ne fonctionne pas*/
  box-shadow: 60px;
  margin-top: 100px;
  padding: auto;
}
#nextQuestion {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: black;
}
/*Choix mult*/
.input {
  height: 100px;
  width: 300px;
  font-size: 42px;
}
.reponse-drag {
  margin-top: 100px;
  padding: auto;
  display: flex;
}
.option {
  font-size: xx-large;
  border-radius: 25px;
  background-color: white;
  border: 6px solid #dda52a;
  color: black;
  text-decoration: none;
  margin: auto;
  display: block;
  align-items: center;
  box-shadow: 60px;
}

#output {
  border: 1.5px solid #dda52a;
  text-align: center;
  margin-top: 100px;
  padding: auto;
}
/*style des boutons radios*/
/*.choix {
  font-size: xx-large;
  background-color: white;
  color: black;
  border: 6px solid #dda52a;
  text-decoration: none;
  margin: auto;
  height: 100px;
  width: 100%;
  display: block;
  align-items: center;
  box-shadow: 60px;
}*/

.span {
  display: flex;
}
.reponse-open {
  margin-top: 100px;
  padding: auto;
}
.reponse-choixMultiple {
  margin-top: 100px;
  padding: auto;
  text-align: center;
  font-size: larger;
}
.choix {
  width: 100%;
  padding: auto;
  margin: auto;
}
